[class*="_container"]{
    max-width: 1500px;
    margin: 0 auto;
}

main{
    .trainer-cards{
        
        .trainer-cards_container{
            h1{
                line-height: 150%;
                font-size: 70px;

                text-align: center;

                margin-bottom: 90px;
            }

            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;


                li{
                    flex: 1 1;
                    text-align: center;

                    max-width: 450px;
                    max-height: 600px;

                    margin-bottom: 100px;

                    img{
                        max-width: 450px;
                        height: auto;

                        margin-bottom: 20px;
                    }

                    h2{
                        font-size: 26px;
                        line-height: 150%;

                        margin-bottom: 20px;
                    }

                    p{
                        margin-bottom: 40px;

                        max-width: 410px;
                        margin: 0 auto;
                    }

                }

            }
        }
    }

    .requirements{
        .requirements_container{
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                gap: 40px;

                padding: 60px 0;
                border-radius: 45px;
                background: linear-gradient(90deg, #5A5454 0.08%, rgba(90, 84, 84, 0.00) 99.9%);

                margin-bottom: 90px;
                li{
                    background: #C66EEE;
                    border-radius: 15%;

                    width: 300px;
                    height: 200px;

                    max-width: 370px;
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img{
                        margin: 20px 0 10px 0;
                    }

                    h3{
                        font-size: 30px;

                        text-align: center;
                    }
                }
            }
        }
    }

    .attention{
        .attention_container{
            display: flex;
            align-items: center;

            height: 250px;

            position: relative;

            gap: 30px;

            border-radius: 45px;
            background: linear-gradient(90deg, #5A5454 0.08%, rgba(90, 84, 84, 0.00) 99.9%);
            img{
                width: 50%;
                height: 100%;
            }
            h2{
                position: absolute;

                top: 76px;
                left: 105px;
            }
            p{
                width: 50%;

                font-size: 30px;
            }
        }
    }
}