@charset "UTF-8";
[class*=_container] {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
}

.bg-yel-circle {
  padding: 300px;
  border-radius: 979px;
  background: rgba(124, 117, 18, 0.687);
  filter: blur(200px);
  position: absolute;
  top: -188px;
  left: -112px;
  z-index: -1;
}

.txt-headline {
  font-family: "Unbounded";
}

header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(20, 28, 44, 0.679);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}
header.scrolled {
  background-color: rgba(0, 0, 0, 0.548);
}
header .header_container {
  position: relative;
}
header .header_container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_container nav .header-logo {
  color: #a631dc;
  width: 140px;
  height: 25px;
  transition: 0.2s ease-in-out;
}
header .header_container nav .header-logo:hover {
  transform: scale(0.95);
}
header .header_container nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 35px;
}
header .header_container nav ul li a {
  font-size: 18px;
  line-height: 33px;
  position: relative;
  transition: width 0.3s ease-in-out;
}
header .header_container nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgba(144, 144, 144, 0.6941176471);
  transition: width 0.3s ease-in-out;
}
header .header_container nav ul li a:hover {
  transform: scale(1.2);
  color: rgb(218, 218, 218);
}
header .header_container nav ul li a:hover::after {
  width: 100%;
}
header .header_container nav .header-btn {
  padding: 20px 47px;
  border-radius: 15px;
  transition: 0.3s;
  background: #a631dc;
}
header .header_container nav .header-btn::after {
  display: none;
}
header .header_container nav .header-btn:hover {
  background-color: #9621cd;
  color: rgb(218, 218, 218);
  transform: scale(0.9);
}
header .header_container nav .burger-menu {
  display: none;
  cursor: pointer;
  font-size: 25px;
  width: 30px;
}
header .header_container nav .burger-menu.active {
  content: "✕";
}
@media screen and (max-width: 1200px) {
  header .header_container nav .burger-menu {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  header header {
    background-color: rgb(0, 0, 0);
  }
  header .header_container nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5px;
    height: 100vh;
    left: 0;
    width: 100%;
    background-color: rgba(16, 21, 31, 0.831);
    z-index: 999;
  }
  header .header_container nav ul.active {
    display: flex;
  }
  header .header_container nav ul li {
    margin: 10px 0;
    text-align: center;
  }
  header .header_container nav .burger-menu {
    display: block;
  }
}

main .trainer-cards {
  padding-top: 140px;
}
main .trainer-cards .trainer-cards_container {
  position: relative;
}
main .trainer-cards .trainer-cards_container .bg-turquoise-circle {
  padding: 300px;
  border-radius: 979px;
  background: rgba(50, 232, 232, 0.628);
  filter: blur(200px);
  position: absolute;
  bottom: -135px;
  left: 684px;
  z-index: -1;
}
main .trainer-cards .trainer-cards_container h1 {
  line-height: 150%;
  font-size: 60px;
  text-align: center;
  margin-bottom: 90px;
}
main .trainer-cards .trainer-cards_container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
main .trainer-cards .trainer-cards_container ul .card-1 {
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(255, 205, 41, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
}
main .trainer-cards .trainer-cards_container ul .card-2 {
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(50, 232, 232, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
}
main .trainer-cards .trainer-cards_container ul .card-3 {
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(198, 110, 238, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
}
main .trainer-cards .trainer-cards_container ul .card-4 {
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(50, 232, 232, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
}
main .trainer-cards .trainer-cards_container ul .card-5 {
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(198, 110, 238, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
}
main .trainer-cards .trainer-cards_container ul .card-6 {
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(255, 205, 41, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
}
main .trainer-cards .trainer-cards_container ul .card-shadow:hover {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.207);
  scale: 1.05;
}
main .trainer-cards .trainer-cards_container ul li {
  transition: 0.2s ease-in-out;
  flex: 1 1;
  text-align: center;
  max-width: 350px;
  max-height: 600px;
  margin-bottom: 100px;
  padding-bottom: 50px;
}
main .trainer-cards .trainer-cards_container ul li img {
  max-width: 350px;
  height: auto;
  margin-bottom: 20px;
}
main .trainer-cards .trainer-cards_container ul li h2 {
  font-size: 26px;
  line-height: 150%;
  margin-bottom: 20px;
}
main .trainer-cards .trainer-cards_container ul li p {
  font-size: 18px;
  padding: 0 15px;
  max-width: 410px;
  margin: 0 auto;
}
main .requirements .requirements_container h2 {
  max-width: 1000px;
  font-size: 50px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 90px;
}
main .requirements .requirements_container ul {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px 0;
  border-radius: 45px;
  background: linear-gradient(90deg, #5A5454 0.08%, rgba(90, 84, 84, 0) 99.9%);
  margin-bottom: 90px;
}
main .requirements .requirements_container ul li {
  background: #c548ff;
  border-radius: 15%;
  padding: 15px;
  width: 250px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .requirements .requirements_container ul li img {
  margin: 20px 0 10px 0;
}
main .requirements .requirements_container ul li h3 {
  max-width: 370px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
main .requirements .requirements_container ul li h3 span {
  color: #e3e3e3;
  font-size: 18px;
  font-weight: 300;
}
main .attention {
  margin-bottom: 100px;
  padding: 0 20px;
}
main .attention .attention_container {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  max-height: 500px;
  gap: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
  border-radius: 30px;
  background: linear-gradient(90deg, #5A5454 0.08%, rgba(90, 84, 84, 0) 99.9%);
}
main .attention .attention_container img {
  max-width: 50%;
  max-height: 100%;
}
main .attention .attention_container h2 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  padding-left: 25px;
  font-size: 50px;
}
main .attention .attention_container p {
  width: 50%;
  font-size: 23px;
}
main .form {
  margin-bottom: 100px;
}
main .form .form_container {
  display: flex;
  justify-content: space-around;
  position: relative;
}
main .form .form_container .bg-yel-circle {
  padding: 150px;
  border-radius: 979px;
  background: rgba(255, 204, 0, 0.749);
  filter: blur(150px);
  position: absolute;
  top: -401px;
  right: 120px;
  z-index: -1;
}
main .form .form_container .bg-purple-circle {
  padding: 300px;
  border-radius: 979px;
  background: rgba(151, 71, 255, 0.542);
  filter: blur(200px);
  position: absolute;
  top: 172px;
  left: 390px;
  z-index: -1;
}
main .form .form_container .input-field:hover {
  outline: 1px solid #d4d4d4;
}
main .form .form_container .input-field:focus {
  outline: 2px solid #00bfe6;
}
main .form .form_container input::-webkit-outer-spin-button,
main .form .form_container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
main .form .form_container input[type=number] {
  -moz-appearance: textfield;
}
main .form .form_container input {
  width: 65%;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.47);
  text-align: center;
}
main .form .form_container input::-moz-placeholder {
  text-align: center;
  color: #FFFFFF;
  opacity: 80%;
  padding-left: 10px; /* Отступ слева */
  font-size: 16px; /* Размер шрифта */
  line-height: 45px; /* Выравнивание по высоте с полем ввода */
}
main .form .form_container input::placeholder {
  text-align: center;
  color: #FFFFFF;
  opacity: 80%;
  padding-left: 10px; /* Отступ слева */
  font-size: 16px; /* Размер шрифта */
  line-height: 45px; /* Выравнивание по высоте с полем ввода */
}
main .form .form_container .form-left-part {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
  max-width: 50%;
  padding-bottom: 25px;
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(90, 84, 84, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
}
main .form .form_container .form-left-part h3 {
  font-size: 35px;
  line-height: 150%;
  max-width: 70%;
  margin: 0 auto;
}
main .form .form_container .form-left-part img {
  width: 100%;
  background-size: cover;
  margin-bottom: 20px;
}
main .form .form_container .form-right-part {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
  max-width: 50%;
  background-color: rgba(34, 34, 34, 0.4039215686);
  text-align: center;
  border-radius: 45px;
}
main .form .form_container .form-right-part h2 {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
  max-width: 500px;
  border-radius: 45px;
  background: linear-gradient(0deg, rgba(90, 84, 84, 0.23) 0%, rgba(217, 217, 217, 0) 100%);
}
main .form .form_container .form-right-part form {
  fill: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.23) 97%);
}
main .form .form_container .form-right-part form .input-field {
  height: 45px;
}
main .form .form_container .form-right-part form input[type=submit] {
  font-size: 26px;
  padding: 20px 10px;
  margin-top: 35px;
  text-align: center;
  max-width: 100%;
  border-radius: 20px;
  background: none;
  background-color: #bb4dee;
  transition: 0.2s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
}
main .form .form_container .form-right-part form input[type=submit]:hover {
  cursor: pointer;
  background: #8432ab;
}/*# sourceMappingURL=trainer-style.css.map */