@media (max-width: 1337px){
    main{
        .about-us{
            .about-us_container{
                .about-us-block{
                    .about-us-text{
                        .txt-headline{
                            width: 400px;
                        }
                    }
                }
            }
        }
        .form{
            .form_container{
                .bg-purple-circle{
                    padding: 250px;
                    border-radius: 979px;
                    background: rgba(151, 71, 255, 0.542);
                    filter: blur(200px);
                    position: absolute;
                    top: 233px;
                    left: 225px;
                    z-index: -1;
                }
            }
        }
    }
}

@media (max-width: 1240px){
    main{
        .hero{
            .hero_container{
                img{
                    width: 900px;
                }
            }
        }

        .about-us{
            .about-us_container{
                .about-us-block{
                    .about-us-text{
                        .txt-headline{
                            font-size: 30px;
                        }
                    }

                    img{
                        width: 60%;
                    }
                }
            }
        }
    }
}