[class*="_container"]{
    max-width: 1200px;
    
    margin: 0 auto;

    padding: 0 20px;
}

html {
    overflow-x: hidden;
}


.open{
    display: flex !important;
}


* {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Montserrat';
  transition-duration: 0.3s ease-in-out;

  color: #FFFFFF;
}

.txt-headline {
  font-family: 'Unbounded';
}

h2{
    font-size: 60px;
    line-height: 105px;

    text-align: center;

    margin-bottom: 90px;
}

body{
    background: rgba(69, 26, 0, 0.91)
}

main{


    .hero{
        padding-top: 160px;
        margin-bottom: 580px;
        //dont forot about mb in this position. That have done for correct visual adap for sections
        .hero_container{

            position: relative;

            .hero-title{
                display: flex;
                h1{
                    font-size: 58px;
                    line-height: 120%;

                    max-width: 410px;

                    margin-right: 110px;
                    
                    span {
                        font-size: 58px;
                        line-height: 120%;
                        font-family: 'Montserrat';
                        font-weight: 8000;
                    }
                }

                p{
                    font-size: 25px;
                    line-height: 54px;

                    max-height: 100px;
                }
            }

            img{
                width: 100%;
                height: auto;
                background-size: cover;
                background-repeat: no-repeat;

                position: absolute;
                top: 70px;
                left: 0px;

            }

            .bg-yel-circle{
                    padding:300px;
                    border-radius: 979px;
                    background: rgba(255, 204, 0, 0.661);

                    filter: blur(200px);

                    position: absolute;

                    top: -188px;
                    left: -112px;

                    z-index: -12;
            }

            .bg-purple-circle{
                padding: 150px;
                border-radius: 979px;
                background: rgba(151, 71, 255, 0.656);

                filter: blur(150px);

                position: absolute;

                bottom: -616px;
                right: -16px;

                z-index: -1;
            }

            .hero-btn {
                display: none;
                padding: 20px 47px;
                margin-top: 140px;

                border-radius: 15px;
                transition: all 0.3s ease 0s;
                background: rgb(165, 34, 226);
            }
            .hero-btn:hover {
                background: rgb(124, 0, 182);

            }
        }
    }
    // check HERO IMAGE

    .about-us{

        margin-bottom: 145px;

        .about-us_container {
          position: relative;

        }

        .about-us_container h2 {
          line-height: 67.5px;
          
        }

        .about-us_container .about-us-block {
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.117);
          border-radius: 45px;
          background: linear-gradient(
            90deg,
            #5a5454 0.08%,
            rgba(90, 84, 84, 0.00) 99.9%
          );
          max-height: 450px;
          display: flex;
        }

        .about-us_container .about-us-block .about-us-text {
          width: 0%;
        }

        .about-us_container .about-us-block .about-us-text h3 {
          width: 600px;
          position: relative;
          font-size: 24px;
          line-height: 129%;
          top: 0px;
          left: -133px;

          font-size: 37px;
        }

        .about-us_container .about-us-block .about-us-text p {
          position: relative;
          font-size: 16px;
          line-height: 150%;
          margin-top: 20px;
          width: 360px;
        }

        .about-us_container .about-us-block img {
          margin-right: 30px;
          max-width: 100%;
          height: auto;
        }

        .about-us_container .bg-turquoise-circle {
          padding: 150px;
          border-radius: 50%;
          background: rgba(50, 232, 232, 0.628);
          filter: blur(100px);
          position: absolute;
          overflow: hidden;
          bottom: -50px;
          left: -50px;
          z-index: -1;
        }


    }

    .services{
        margin-bottom: 100px;

        .services_container{


            position: relative;

            .bg-purple-circle{
                padding:300px;
                border-radius: 979px;
                background: rgba(151, 71, 255, 0.656);

                filter: blur(200px);

                position: absolute;
                overflow: hidden;

                top: -23px;
                right: 625px;

                z-index: -1;
            }

            .services-cards{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                gap: 40px;

                .bg-turquoise-circle {
                    padding:300px;
                    border-radius: 979px;
                    background: rgba(8, 184, 131, 0.319);
        
                    filter: blur(200px);
        
                    position: absolute;
                    overflow: hidden;
        
                    top: 0px;
                    left: 200px;
        
                    z-index: -1;
                }
                li{
                    transition: 0.2s ease-in-out;
                    flex: 1 1 auto;
                    text-align: center;

                    max-width: 350px;
                    height: 700px;

                    padding-bottom: 20px;
                    img{
                        max-height: 300px;
                        max-width: 80%;

                        margin-bottom: 75px;
                    }
                    h3{
                        font-size: 26px;
                        line-height: 39px;
                        font-weight: 600;

                        margin-bottom: 30px;

                    }
                    p{
                        line-height: 27px;
                        font-size: 22px;

                        margin: 0 auto;
                        width: 80%;
                        max-height: 300px;

                    }
                }

                .services-card-1{
                    border-radius: 45px;
                    background: linear-gradient(0deg, rgba(255, 205, 41, 0.23) 0%, rgba(217, 217, 217, 0.00) 100%);
                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
                }
                .services-card-2{
                    border-radius: 45px;
                    background: linear-gradient(0deg, rgba(50, 232, 232, 0.23) 0%, rgba(217, 217, 217, 0.00) 100%);
                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
                }
                .services-card-3{
                    border-radius: 45px;
                    background: linear-gradient(0deg, rgba(198, 110, 238, 0.23) 0%, rgba(217, 217, 217, 0.00) 100%);
                    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.207);
                }
                .card-shadow:hover {
                  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.207);
                  scale: (1.05);
                }
                }
        }

        .popup-service-card-1-container {

            max-width: 100%;
            max-height: 100%;
            background-color: rgba(0, 0, 0, 0.612);
            backdrop-filter: blur(4px);
            overflow: hidden;
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
        
            z-index: 10001;
        
            .popup-service-card-1 {
                max-width: 600px; // Изменено на 80%, чтобы подстроиться под ширину экрана
                height: 700px; // Изменено на 80vh, чтобы подстроиться под высоту экрана
                margin: 10vh auto; // Изменено отступы для выравнивания
                border-radius: 15px;

                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
                background: rgb(54, 38, 11);
        
                .popup-service-card-1-body {
                    position: relative;

                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 800px;

        
                    h2 {
                        padding-top: 20px;
                        margin-bottom: 10px;
                        font-size: 30px;
                    }
        
                    img {
                        max-width: 450px;
                        height: 200px;
                        margin-bottom: 25px;
                    }
        
                    p {
                        text-align: center;
                        padding: 0 50px;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 150%;

        
                        span {
                            font-weight: 700;
                        }
                    }
        
                    .popup-form {
                        padding: 20px 47px;
                        border-radius: 15px;
                        background: #a92de2;
                        margin-top: 80px;
                        transition-duration: 0.3s;
                    }
                    .popup-form:hover {

                        background: #7f24aa;
                    }
        
                    .popup-hide-btn {
                        position: absolute;
                        top: 25px;
                        right: 25px; // Изменено расстояние справа
                        transition-duration: 0.3s;
                    }
                    .popup-hide-btn:hover {
                        transform: scale(1.2);
                        color: #c3c3c3;
                    }
                }
            }
        }
        
        .popup-service-card-2-container {


            max-width: 100%;
            max-height: 100%;
            background-color: rgba(0, 0, 0, 0.612);
            backdrop-filter: blur(4px);
            overflow: hidden;
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
        
            z-index: 10001;
        
            .popup-service-card-2 {
                max-width: 600px; // Изменено на 80%, чтобы подстроиться под ширину экрана
                height: 700px; // Изменено на 80vh, чтобы подстроиться под высоту экрана
                margin: 10vh auto; // Изменено отступы для выравнивания
                border-radius: 15px;

                
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
                background: rgb(24, 59, 66);
        
                .popup-service-card-2-body {
                    position: relative;

                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 800px;


        
                    h2 {
                        padding-top: 20px;
                        margin-bottom: 10px;
                        font-size: 30px;
                    }
        
                    img {
                        width: 80%;
                        max-height: 300px;
                        margin-bottom: 25px;
                    }
        
                    p {
                        text-align: center;
                        padding: 0 50px;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 150%;

        
                        span {
                            font-weight: 700;
                        }
                    }
        
                    .popup-form {
                        padding: 20px 47px;
                        border-radius: 15px;
                        background: #a92de2;
                        margin-top: 40px;
                        transition-duration: 0.3s;
                    }
                    .popup-form:hover {

                        background: #7f24aa;
                    }
        
                    .popup-hide-btn {
                        position: absolute;
                        top: 25px;
                        right: 25px; // Изменено расстояние справа
                        transition-duration: 0.3s;
                    }
                    .popup-hide-btn:hover {
                        transform: scale(1.2);
                        color: #c3c3c3;
                    }
                }
            }
        }
        .popup-service-card-3-container{
            max-width: 100%;
            max-height: 100%;
            background-color: rgba(0, 0, 0, 0.612);
            backdrop-filter: blur(4px);
            overflow: hidden;
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
        
            z-index: 10001;

            .popup-service-card-3{
                max-width: 600px; // Изменено на 80%, чтобы подстроиться под ширину экрана
                height: 700px; // Изменено на 80vh, чтобы подстроиться под высоту экрана
                margin: 10vh auto; // Изменено отступы для выравнивания
                border-radius: 15px;
                
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
                background: rgb(59, 26, 46);

                .popup-service-card-3-body{
                    position: relative;

                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 800px;


                    h2{
                        padding-top: 20px;
                        margin-bottom: 10px;
                        font-size: 30px;
                    }

                    img{
                        max-width: 450px;
                        height: 200px;
                        margin-bottom: 25px;
                    }

                    p{
                        text-align: center;
                        padding: 0 50px;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 150%;

        
                        span{
                            font-weight: 700;
                        }
                    }
                    .popup-form {
                        padding: 20px 47px;
                        border-radius: 15px;
                        background: #a92de2;
                        margin-top: 80px;
                        transition-duration: 0.3s;
                    }
                    .popup-form:hover {

                        background: #7f24aa;
                    }
        
                    .popup-hide-btn {
                        position: absolute;
                        top: 25px;
                        right: 25px; // Изменено расстояние справа
                        transition-duration: 0.3s;
                    }
                    .popup-hide-btn:hover {
                        transform: scale(1.2);
                        color: #c3c3c3;
                    }
                }
            }
        }
    }

    .price{
        .price_container{
            position: relative;
            display: flex;
            justify-content: center;

            margin-bottom: 100px;

            img {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                border-radius: 40px;
            }
        }

        .bg-purple-circle{
            padding:250px;
            border-radius: 979px;
            background: rgba(151, 71, 255, 0.656);

            filter: blur(200px);

            position: absolute;

            bottom: -135px;
            right: 144px;

            z-index: -1;
        }
    }

    .gallery {
        margin-bottom: 100px;

        position: relative;
        .bg-turquoise-circle{
            padding:300px;
            border-radius: 979px;
            background: rgba(50, 232, 232, 0.628);

            filter: blur(200px);

            position: absolute;
            overflow: hidden;

            top: 0px;
            left: 0px;

            z-index: -1;
        }

            .gallery_container {
                

                .gallery-block {
                    position: relative;
                    * {
                        box-sizing: border-box;
                    }



                    /* Hide the images by default */
                    .mySlides {
                        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
                        border-radius: 3%;
                        display: none;

                        img{
                            max-height: 800px;

                            border-radius: 3%;
                        }
                    }

                    /* Add a pointer when hovering over the thumbnail images */
                    .cursor {
                        cursor: pointer;
                    }

                    /* Next & previous buttons */
                    .prev,
                    .next {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        padding: 16px;
                        margin-top: -50px;
                        color: white;
                        font-weight: bold;
                        font-size: 20px;
                        border-radius: 0 3px 3px 0;
                        user-select: none;
                        -webkit-user-select: none;
                    }

                    /* Position the "next button" to the right */
                    .next {
                        right: 0;
                        border-radius: 3px 0 0 3px;
                    }

                    /* On hover, add a black background color with a little bit see-through */
                    .prev:hover,
                    .next:hover {
                        background-color: rgba(0, 0, 0, 0.8);
                    }

                    /* Number text (1/3 etc) */
                    .numbertext {
                        color: #f2f2f2;
                        font-size: 22px;
                        padding: 8px 12px;
                        position: absolute;
                        top: 0;
                    }

                    .row:after {
                        content: "";
                        display: table;
                        clear: both;
                    }

                    /* Six columns side by side */
                    .column {
                        float: left;
                        width: 16.66%;
                    }

                    /* Add a transparency effect for thumnbail images */
                    .demo {
                        opacity: 0.6;
                    }

                    .active,
                    .demo:hover {
                        opacity: 1;
                    }
                }
            }
    }

.form {
    margin-bottom: 100px;


    .form_container {
        display: flex;
        justify-content: space-around;
        position: relative;

        .bg-blue-circle {
            padding: 150px;
            border-radius: 979px;
            background: rgba(0, 255, 208, 0.652);
            filter: blur(150px);
            position: absolute;
            // top: -401px;
            right: 120px;
            z-index: -11;
        }

        .bg-purple-circle {
            padding: 300px;
            border-radius: 979px;
            background: rgba(151, 71, 255, 0.542);
            filter: blur(200px);
            position: absolute;
            top: 172px;
            left: 390px;
            z-index: -1;
        }

        .input-field:hover {
            outline: 1px solid #d4d4d4;
        }

        .input-field:focus {
            outline: 2px solid #00bfe6;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        input {
            width: 65%;
            border-radius: 18px;
            background: rgba(255, 255, 255, 0.47);
            text-align: center;

            &::placeholder {
                text-align: center;
                color: #FFFFFF;
                opacity: 80%;
                padding-left: 10px;
                font-size: 16px;
                line-height: 45px;
            }
        }

        /* Добавленные стили для чекбокса и метки */

        

        #agreement + label {
            font-size: 14px;
            color: #ffffff;
            margin-bottom: 15px;
            display: block;
        }

        .form-left-part {
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
            max-width: 50%;
            padding-bottom: 25px;
            border-radius: 45px;
            background: linear-gradient(0deg, rgba(90, 84, 84, 0.23) 0%, rgba(217, 217, 217, 0.00) 100%);

            h3 {
                font-size: 35px;
                line-height: 150%;
                max-width: 70%;
                margin: 0 auto;
            }

            img {
                width: 100%;
                background-size: cover;
                margin-bottom: 20px;
            }
        }

        .form-right-part {
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
            max-width: 50%;
            background-color: #22222267;
            text-align: center;
            border-radius: 45px;

            h2 {
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
                max-width: 500px;
                border-radius: 45px;
                background: linear-gradient(0deg, rgba(90, 84, 84, 0.23) 0%, rgba(217, 217, 217, 0.00) 100%);
            }

            form {
                padding-bottom: 40px;
                fill: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.23) 97%);

                .input-field {
                    height: 45px;
                }

                input[type="submit"] {
                    font-size: 26px;
                    padding: 20px 10px;
                    margin-top: 15px;
                    text-align: center;
                    max-width: 100%;
                    border-radius: 20px;
                    background: none;
                    background-color: #bb4dee;
                    transition: 0.2s ease-in-out;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.207);
                }
                
                input[type="checkbox"] {
                    font-size: 14px;
                    .policy-agree {
                        font-size: 14px;
                    }
                }

                .agree {
                    display: flex;
                    margin: 0 auto;
                    .check {
                        width: 30%;
                    }
                    .txt {
                        width: 30%;
                        label {
                            font-size: 14px;
                        }
                    }
                }

                input[type="submit"]:hover {
                    cursor: pointer;
                    background: #8432ab;
                }
            }
        }
    }
}

    

    .contact-us{
        margin-bottom: 100px;
        .contact-us_container{
            .contact-us-all{
                display: flex;
                justify-content: center;
                gap: 30px;
                align-items: center;
                .contact-us-left{
                    width: 50%;

                    .bg-turquoise-circle {
                        padding: 150px;
                        border-radius: 50%;
                        background: rgba(0, 255, 255, 0.183);
                        filter: blur(100px);
                        position: absolute;
                        overflow: hidden;

                        left: -100px;
                        z-index: -11;
                    }

                    li{
                        display: flex;
                        align-items: center;

                        img {
                            width: 70px;
                            height: 70px;
                            align-items: center;

                            margin-right: 30px;
                        }
                            a{
                                max-width: 530px;
                                padding: 20px 0 20px 22px;
                                border-radius: 20px;
                                background: rgba(255, 255, 255, 0.106);

                                width: 100%;

                                margin-bottom: 30px;

                                transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
                            }
                            a:hover{
                                color: rgba(192, 192, 192, 0.267);
                            }
                    }
                }

                .contat-us-map{
                    width: 50%;
                    iframe{
                        width: 100%;
                        border-radius: 45px;
                    }
                }
            }
        }
    }

    .faq {
        .faq_container {
            
            
            margin-bottom: 170px;
            
            
            
            .accordion {
                width: 100%;
                .bg-purple-circle {
                    padding: 150px;
                    border-radius: 979px;
                    background: rgba(255, 208, 0, 0.715);
                    filter: blur(150px);
                    position:relative;
                    top: -200px;
                    right: 20px;
                    z-index: -10;
                }
        
              }
              
              .accordion-item {
                display: flex;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                
        
              }
              
              .accordion-title {
                font-family: "Unbounded";
                font-weight: 200;
                flex: 1;
                cursor: pointer;
                font-size: 1.1em;
                padding: 10px 20px;
                border-bottom: 1px solid #ccc;
                transition-duration: 0.3s;
                
              }
              
              .accordion-body {
                display: none;
                padding: 10px 20px;
                font-size: 0.8em;
                border-bottom: 1px solid #ccc;
                transition-duration: 0.3s;
              }
              
              .accordion-title:hover {
                
                transform: scale(0.99);
              }
              
              .accordion-title.active {
                background-color: #00bbffbf;
                border-radius: 15px;
              }
              
              .accordion-body.active {
                display: block;
              }
              
            
        }
        }
    }

  

footer{
    background: #70139b;
    
    padding: 0px 0px 30px ;
    .footer_container{

            .footer-links{
                
                .footer-logo {
                    

                    width: 170px;
                    height: 30px;

                }
                padding: 50px 0 50px 0;
                display: flex;
                justify-content: space-evenly;

                align-items: center;
                ul{
                    
                    display: flex;
                    gap: 90px;
                    li{
                        display: flex;
                        flex-direction: column;
                        
                        a{
                            font-size: 15px;
                            margin-bottom: 15px;

                            transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
                        }

                        a:hover{
                            color: rgb(218, 218, 218);
                        }
                    }
                }
            }

            p{
                font-size: 10px;
                text-align: center;

                position: relative;
            }
            p::before {
                content: "";
                position: absolute;
                top: -15px;
                left: 10%;
                width: 80%;
                border-top: 1px solid #ffffff;
            }
    }
}


@media (max-width: 1100px) {
    main {
        .faq {
            .faq_container {
                .accordion-title {
                    font-size: 0.85em;
                }
                .accordion-body {
                    p {
                    font-size: 1.1em;
                    }
                }
            }
        }
    }
}